# Ignore the papers-theory folder completely
docs/papers-theory/

# Ignore all Word files
*.doc
*.docx

# Ignore all PDF files
*.pdf
model_extraction/trained/flan-t5-triple-extraction-final/

flan-t5-triple-extraction-final.zip

model_extraction/trained/flan-t5-triple-extraction-model-trained/

flan-t5-triple-extraction-model-trained.zip